<div class="shorten__tool-wrapper">
  <div class="shorten__tool">
    <div class="shorten__tool-input__wrapper">
      <input [formControl]="url" #myElement type="text" class="shorten__tool-input">
    </div>
    <div class="shorten__tool-btn__wrapper">
      <button class="shorten__tool-btn" [disabled]="url.invalid" (click)="getShortenUrl(myElement.value)">
        Shorten
      </button>
    </div>
  </div>
  <div class="error__wrapper" *ngIf="url.invalid">
    <span class="error">
      <sup>*</sup>Please write valid URL!
    </span>
  </div>
  <div class="shorten__output-wrapper">
    <span class="shorten__url" *ngFor="let url of url$ | async, let index = index">
      Short url {{index + 1}}:
      <a [href]="url">
        {{url}}
      </a>
    </span>
  </div>
</div>
